---
interface Props {
    nameSection: string;
    urlVideo: string;
    urlImage: string;
    urlCover: string;
}

const { urlImage, urlVideo, nameSection, urlCover } = Astro.props;

if (nameSection == "edgerunners-section") {
    const section = document.getElementById("video-section");
    section?.classList.add("video-bg-gradient");
}
---

<div class="video-section">
    <canvas id=`canvas-${nameSection}` class="blur-canvas"></canvas>
    <img src={urlCover} alt="cover" class="cover-image" />
    <video
        autoplay
        muted
        loop
        id=`video-${nameSection}`
        playsinline="playsinline"
    >
        <source src={urlVideo} type="video/mp4; codecs=av01.0.05M.08" />
    </video>
    <div class="image-logo">
        <img class="glitch" src={urlImage} alt="logo" />
    </div>
</div>
<div id="header" class="bg-black fg-white cyber-razor-bottom pt-0 pl-8 pb-4">
    <span class="cyberpunk-font-og f-x2-5">
        <span class="c">C</span>yber <span class="p">P</span>unk
    </span>
    <span
        id="header-css"
        class="fg-yellow pl-6 f-x3-5 pb--2"
        style="position: relative; top: 10px;"
        >CSS<span class="cyber-glitch-3">_</span></span
    >
</div>

<style>
    .cyber-razor-top {
        margin-top: 30px;
        position: relative;
        z-index: 999;
    }

    .cyber-razor-bottom {
        margin-bottom: 30px;
        position: relative;
        z-index: 999;
    }

    .cyber-razor-top:before {
        content: " ";
        background-color: transparent;
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920px" height="40px"><path d="M1827.156,15.021 L1827.129,14.994 L1833.785,14.994 L1833.759,15.021 L1827.156,15.021 ZM1824.965,24.036 L1835.969,24.036 L1830.461,18.558 L1833.759,15.021 L1920.000,15.021 L1920.000,39.075 L0.001,39.075 L0.001,15.013 L271.884,15.013 L279.537,6.930 L292.458,6.930 L308.426,24.036 L308.449,24.013 L308.467,24.036 L317.638,15.021 L463.241,15.021 L466.539,18.558 L461.031,24.036 L472.035,24.036 L466.539,18.558 L469.844,15.021 L551.557,15.021 L556.251,10.578 L565.497,1.358 L571.663,7.066 L602.910,7.055 L607.919,7.055 L620.578,19.983 L654.209,19.983 L661.448,12.957 L735.709,12.995 L741.480,18.554 L750.129,9.930 L753.020,12.995 L918.181,12.957 L930.942,0.066 L954.993,24.036 L955.000,24.024 L955.012,24.036 L964.064,15.013 L967.906,15.013 L970.005,17.106 L966.670,20.419 L973.326,20.419 L970.005,17.106 L972.067,15.055 L1050.000,15.023 L1050.000,15.013 L1064.030,15.017 L1072.000,15.013 L1072.000,15.019 L1225.933,15.055 L1227.994,17.106 L1224.674,20.419 L1231.331,20.419 L1227.994,17.106 L1230.094,15.013 L1233.936,15.013 L1242.989,24.036 L1243.000,24.024 L1243.007,24.036 L1267.058,0.066 L1279.819,12.957 L1368.980,12.995 L1371.871,9.930 L1380.520,18.554 L1386.290,13.057 L1635.552,13.019 L1642.790,19.983 L1676.422,19.983 L1689.080,6.992 L1725.337,7.003 L1731.502,1.358 L1740.749,10.578 L1745.443,15.021 L1827.156,15.021 L1830.461,18.558 L1824.965,24.036 ZM341.624,18.857 L339.889,18.857 L339.889,24.036 L341.624,24.036 L341.624,18.857 ZM344.248,18.857 L342.518,18.857 L342.518,24.036 L344.248,24.036 L344.248,18.857 ZM356.370,18.857 L354.640,18.857 L354.640,24.036 L356.370,24.036 L356.370,18.857 ZM377.168,18.857 L371.973,18.857 L371.973,24.036 L377.168,24.036 L377.168,18.857 ZM584.675,12.348 L582.941,12.348 L582.941,14.073 L584.675,14.073 L584.675,12.348 ZM591.316,12.348 L589.582,12.348 L589.582,17.526 L591.316,17.526 L591.316,12.348 ZM604.751,12.348 L603.017,12.348 L603.017,14.073 L604.751,14.073 L604.751,12.348 ZM604.751,15.802 L603.017,15.802 L603.017,17.526 L604.751,17.526 L604.751,15.802 ZM1693.983,12.348 L1692.249,12.348 L1692.249,14.073 L1693.983,14.073 L1693.983,12.348 ZM1693.983,15.802 L1692.249,15.802 L1692.249,17.526 L1693.983,17.526 L1693.983,15.802 ZM1707.418,12.348 L1705.683,12.348 L1705.683,17.526 L1707.418,17.526 L1707.418,12.348 ZM1714.059,12.348 L1712.324,12.348 L1712.324,14.073 L1714.059,14.073 L1714.059,12.348 ZM463.214,14.994 L469.871,14.994 L469.844,15.021 L463.241,15.021 L463.214,14.994 ZM754.222,5.976 L750.129,9.930 L746.025,5.976 L754.222,5.976 ZM1375.975,5.976 L1371.871,9.930 L1367.778,5.976 L1375.975,5.976 Z"/></svg>');
        -webkit-mask-repeat: repeat-x;
        -webkit-mask-position: top;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920px" height="40px"><path d="M1827.156,15.021 L1827.129,14.994 L1833.785,14.994 L1833.759,15.021 L1827.156,15.021 ZM1824.965,24.036 L1835.969,24.036 L1830.461,18.558 L1833.759,15.021 L1920.000,15.021 L1920.000,39.075 L0.001,39.075 L0.001,15.013 L271.884,15.013 L279.537,6.930 L292.458,6.930 L308.426,24.036 L308.449,24.013 L308.467,24.036 L317.638,15.021 L463.241,15.021 L466.539,18.558 L461.031,24.036 L472.035,24.036 L466.539,18.558 L469.844,15.021 L551.557,15.021 L556.251,10.578 L565.497,1.358 L571.663,7.066 L602.910,7.055 L607.919,7.055 L620.578,19.983 L654.209,19.983 L661.448,12.957 L735.709,12.995 L741.480,18.554 L750.129,9.930 L753.020,12.995 L918.181,12.957 L930.942,0.066 L954.993,24.036 L955.000,24.024 L955.012,24.036 L964.064,15.013 L967.906,15.013 L970.005,17.106 L966.670,20.419 L973.326,20.419 L970.005,17.106 L972.067,15.055 L1050.000,15.023 L1050.000,15.013 L1064.030,15.017 L1072.000,15.013 L1072.000,15.019 L1225.933,15.055 L1227.994,17.106 L1224.674,20.419 L1231.331,20.419 L1227.994,17.106 L1230.094,15.013 L1233.936,15.013 L1242.989,24.036 L1243.000,24.024 L1243.007,24.036 L1267.058,0.066 L1279.819,12.957 L1368.980,12.995 L1371.871,9.930 L1380.520,18.554 L1386.290,13.057 L1635.552,13.019 L1642.790,19.983 L1676.422,19.983 L1689.080,6.992 L1725.337,7.003 L1731.502,1.358 L1740.749,10.578 L1745.443,15.021 L1827.156,15.021 L1830.461,18.558 L1824.965,24.036 ZM341.624,18.857 L339.889,18.857 L339.889,24.036 L341.624,24.036 L341.624,18.857 ZM344.248,18.857 L342.518,18.857 L342.518,24.036 L344.248,24.036 L344.248,18.857 ZM356.370,18.857 L354.640,18.857 L354.640,24.036 L356.370,24.036 L356.370,18.857 ZM377.168,18.857 L371.973,18.857 L371.973,24.036 L377.168,24.036 L377.168,18.857 ZM584.675,12.348 L582.941,12.348 L582.941,14.073 L584.675,14.073 L584.675,12.348 ZM591.316,12.348 L589.582,12.348 L589.582,17.526 L591.316,17.526 L591.316,12.348 ZM604.751,12.348 L603.017,12.348 L603.017,14.073 L604.751,14.073 L604.751,12.348 ZM604.751,15.802 L603.017,15.802 L603.017,17.526 L604.751,17.526 L604.751,15.802 ZM1693.983,12.348 L1692.249,12.348 L1692.249,14.073 L1693.983,14.073 L1693.983,12.348 ZM1693.983,15.802 L1692.249,15.802 L1692.249,17.526 L1693.983,17.526 L1693.983,15.802 ZM1707.418,12.348 L1705.683,12.348 L1705.683,17.526 L1707.418,17.526 L1707.418,12.348 ZM1714.059,12.348 L1712.324,12.348 L1712.324,14.073 L1714.059,14.073 L1714.059,12.348 ZM463.214,14.994 L469.871,14.994 L469.844,15.021 L463.241,15.021 L463.214,14.994 ZM754.222,5.976 L750.129,9.930 L746.025,5.976 L754.222,5.976 ZM1375.975,5.976 L1371.871,9.930 L1367.778,5.976 L1375.975,5.976 Z"/></svg>');
        mask-repeat: repeat-x;
        mask-position: top;
        position: absolute;
        left: 0;
        top: -30px;
        width: 100%;
        height: 30px;
        z-index: 999;
    }

    .cyber-razor-bottom:after {
        content: " ";
        background-color: transparent;
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920px" height="39px"><path d="M1877.759,23.791 L1874.461,20.504 L1879.969,15.027 L1868.965,15.027 L1874.461,20.504 L1871.156,23.791 L1789.442,23.791 L1784.749,28.484 L1775.502,37.704 L1769.337,31.559 L1738.089,31.695 L1733.080,31.695 L1720.422,19.079 L1686.790,19.079 L1679.552,26.293 L1386.290,26.255 L1380.520,20.508 L1371.871,29.132 L1368.980,26.255 L1203.819,26.293 L1191.058,38.996 L1167.007,15.027 L1167.000,15.038 L1166.989,15.027 L1157.936,24.049 L1154.094,24.049 L1151.994,21.956 L1155.330,18.643 L1148.674,18.643 L1151.994,21.956 L1149.933,24.007 L1072.000,24.040 L1072.000,24.049 L1061.000,24.044 L1050.000,24.049 L1050.000,24.040 L972.067,24.007 L970.005,21.956 L973.326,18.643 L966.670,18.643 L970.005,21.956 L967.906,24.049 L964.064,24.049 L955.012,15.027 L955.000,15.038 L954.993,15.027 L930.942,38.996 L918.181,26.293 L818.020,26.255 L815.129,29.132 L806.480,20.508 L800.710,26.255 L661.448,26.293 L654.209,19.079 L620.578,19.079 L607.919,31.695 L602.910,31.695 L571.663,31.559 L565.497,37.704 L556.251,28.484 L551.557,23.791 L469.844,23.791 L466.539,20.504 L472.035,15.027 L461.031,15.027 L466.539,20.504 L463.241,23.791 L204.638,23.791 L195.467,15.027 L195.449,15.049 L195.426,15.027 L179.458,31.695 L166.537,31.695 L158.884,24.049 L0.001,24.049 L0.001,-0.012 L1919.998,-0.012 L1919.998,24.049 L1877.759,23.791 ZM228.624,15.027 L226.889,15.027 L226.889,20.205 L228.624,20.205 L228.624,15.027 ZM231.248,15.027 L229.518,15.027 L229.518,20.205 L231.248,20.205 L231.248,15.027 ZM243.370,15.027 L241.640,15.027 L241.640,20.205 L243.370,20.205 L243.370,15.027 ZM264.168,15.027 L258.973,15.027 L258.973,20.205 L264.168,20.205 L264.168,15.027 ZM584.675,24.989 L582.941,24.989 L582.941,26.714 L584.675,26.714 L584.675,24.989 ZM591.316,21.536 L589.582,21.536 L589.582,26.714 L591.316,26.714 L591.316,21.536 ZM604.751,21.536 L603.017,21.536 L603.017,23.260 L604.751,23.260 L604.751,21.536 ZM604.751,24.989 L603.017,24.989 L603.017,26.714 L604.751,26.714 L604.751,24.989 ZM1737.983,21.536 L1736.249,21.536 L1736.249,23.260 L1737.983,23.260 L1737.983,21.536 ZM1737.983,24.989 L1736.249,24.989 L1736.249,26.714 L1737.983,26.714 L1737.983,24.989 ZM1751.418,21.536 L1749.683,21.536 L1749.683,26.714 L1751.418,26.714 L1751.418,21.536 ZM1758.059,24.989 L1756.324,24.989 L1756.324,26.714 L1758.059,26.714 L1758.059,24.989 ZM1877.785,23.818 L1871.129,23.818 L1871.156,23.791 L1877.759,23.791 L1877.785,23.818 ZM1367.778,33.211 L1371.871,29.132 L1375.975,33.211 L1367.778,33.211 ZM469.871,23.818 L463.214,23.818 L463.241,23.791 L469.844,23.791 L469.871,23.818 Z"/></svg>');
        -webkit-mask-repeat: repeat-x;
        -webkit-mask-position: bottom;
        mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1920px" height="39px"><path d="M1877.759,23.791 L1874.461,20.504 L1879.969,15.027 L1868.965,15.027 L1874.461,20.504 L1871.156,23.791 L1789.442,23.791 L1784.749,28.484 L1775.502,37.704 L1769.337,31.559 L1738.089,31.695 L1733.080,31.695 L1720.422,19.079 L1686.790,19.079 L1679.552,26.293 L1386.290,26.255 L1380.520,20.508 L1371.871,29.132 L1368.980,26.255 L1203.819,26.293 L1191.058,38.996 L1167.007,15.027 L1167.000,15.038 L1166.989,15.027 L1157.936,24.049 L1154.094,24.049 L1151.994,21.956 L1155.330,18.643 L1148.674,18.643 L1151.994,21.956 L1149.933,24.007 L1072.000,24.040 L1072.000,24.049 L1061.000,24.044 L1050.000,24.049 L1050.000,24.040 L972.067,24.007 L970.005,21.956 L973.326,18.643 L966.670,18.643 L970.005,21.956 L967.906,24.049 L964.064,24.049 L955.012,15.027 L955.000,15.038 L954.993,15.027 L930.942,38.996 L918.181,26.293 L818.020,26.255 L815.129,29.132 L806.480,20.508 L800.710,26.255 L661.448,26.293 L654.209,19.079 L620.578,19.079 L607.919,31.695 L602.910,31.695 L571.663,31.559 L565.497,37.704 L556.251,28.484 L551.557,23.791 L469.844,23.791 L466.539,20.504 L472.035,15.027 L461.031,15.027 L466.539,20.504 L463.241,23.791 L204.638,23.791 L195.467,15.027 L195.449,15.049 L195.426,15.027 L179.458,31.695 L166.537,31.695 L158.884,24.049 L0.001,24.049 L0.001,-0.012 L1919.998,-0.012 L1919.998,24.049 L1877.759,23.791 ZM228.624,15.027 L226.889,15.027 L226.889,20.205 L228.624,20.205 L228.624,15.027 ZM231.248,15.027 L229.518,15.027 L229.518,20.205 L231.248,20.205 L231.248,15.027 ZM243.370,15.027 L241.640,15.027 L241.640,20.205 L243.370,20.205 L243.370,15.027 ZM264.168,15.027 L258.973,15.027 L258.973,20.205 L264.168,20.205 L264.168,15.027 ZM584.675,24.989 L582.941,24.989 L582.941,26.714 L584.675,26.714 L584.675,24.989 ZM591.316,21.536 L589.582,21.536 L589.582,26.714 L591.316,26.714 L591.316,21.536 ZM604.751,21.536 L603.017,21.536 L603.017,23.260 L604.751,23.260 L604.751,21.536 ZM604.751,24.989 L603.017,24.989 L603.017,26.714 L604.751,26.714 L604.751,24.989 ZM1737.983,21.536 L1736.249,21.536 L1736.249,23.260 L1737.983,23.260 L1737.983,21.536 ZM1737.983,24.989 L1736.249,24.989 L1736.249,26.714 L1737.983,26.714 L1737.983,24.989 ZM1751.418,21.536 L1749.683,21.536 L1749.683,26.714 L1751.418,26.714 L1751.418,21.536 ZM1758.059,24.989 L1756.324,24.989 L1756.324,26.714 L1758.059,26.714 L1758.059,24.989 ZM1877.785,23.818 L1871.129,23.818 L1871.156,23.791 L1877.759,23.791 L1877.785,23.818 ZM1367.778,33.211 L1371.871,29.132 L1375.975,33.211 L1367.778,33.211 ZM469.871,23.818 L463.214,23.818 L463.241,23.791 L469.844,23.791 L469.871,23.818 Z"/></svg>');
        mask-repeat: repeat-x;
        mask-position: bottom;
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 100%;
        height: 30px;
        z-index: 9999;
    }
    .fadein {
        opacity: 0;
        transition: all 0.5s;
        transform: translate(-100px, 0);
    }

    .fadein.visible {
        opacity: 1;
        transform: translate(0, 0);
    }
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        z-index: 11;
    }

    .video-section {
        width: 100%;
        position: relative;
        z-index: 10;
    }

    .video-section video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: relative;

        z-index: 11 !important;

        filter: brightness(0.7);
    }

    /* .video-section::before {
        content: "";
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: 12;
        background: linear-gradient(
            360deg,
            #ddff6dd3 5%,
            #50d063d3 20%,
            transparent 100%
        );
    } */

    .video-section canvas {
        width: 100%;
        margin-top: 50vh;
        height: 130vh;
        filter: blur(70px);
        position: absolute;
        z-index: 1;
    }
    .video-section .cover-image {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        z-index: 12;
        filter: brightness(0.7);
    }

    .video-section .image-logo {
        width: 100%;
        height: 90vh;
        top: 0;
        z-index: 12;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
    }

    @media screen and (max-width: 480px) {
        .video-section .image-logo {
            margin-left: 10%;
            margin-right: 10%;
            width: 80%;
        }
        .video-section .cover-image {
            /* width: 100%; */
            height: 80vh;
            object-fit: cover;

            bottom: 0;
        }
        .video-section .image-logo {
            height: 80vh;

            justify-content: flex-end;
        }
    }
    @media screen and (max-width: 780px) {
        .video-section .image-logo {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
    }
</style>

<script>
    //obtener la propiedad name del componente

    var canvas1 = document.getElementById("canvas-cyberpunk");
    var canvas2 = document.getElementById("canvas-edgerunners");
    var canvas3 = document.getElementById("canvas-phantomliberty");

    var video1 = document.getElementById("video-cyberpunk");
    var video2 = document.getElementById("video-edgerunners");
    var video3 = document.getElementById("video-phantomliberty");
    var ctx1 = (canvas1 as HTMLCanvasElement)?.getContext("2d");
    var ctx2 = (canvas2 as HTMLCanvasElement)?.getContext("2d");
    var ctx3 = (canvas3 as HTMLCanvasElement)?.getContext("2d");

    video1?.addEventListener(
        "play",
        function () {
            // playSong("song-cyberpunk");
            var $this = this;

            (function loop() {
                if (
                    !(video1 as HTMLVideoElement).paused &&
                    !(video1 as HTMLVideoElement).ended
                ) {
                    ctx1?.drawImage(
                        $this as HTMLImageElement,
                        0,
                        0,
                        ($this as HTMLVideoElement).videoWidth,
                        ($this as HTMLVideoElement).videoHeight,
                        0,
                        0,
                        (canvas1 as HTMLCanvasElement)?.width,
                        (canvas1 as HTMLCanvasElement)?.height,
                    );
                    setTimeout(loop, 1000 / 30);
                }
            })();
        },
        0 as any,
    );

    video2?.addEventListener(
        "play",
        function () {
            // playSong("song-cyberpunk");
            var $this = this;

            (function loop() {
                if (
                    !(video2 as HTMLVideoElement).paused &&
                    !(video2 as HTMLVideoElement).ended
                ) {
                    ctx2?.drawImage(
                        $this as HTMLImageElement,
                        0,
                        0,
                        ($this as HTMLVideoElement).videoWidth,
                        ($this as HTMLVideoElement).videoHeight,
                        0,
                        0,
                        (canvas2 as HTMLCanvasElement)?.width,
                        (canvas2 as HTMLCanvasElement)?.height,
                    );
                    setTimeout(loop, 1000 / 30);
                }
            })();
        },
        0 as any,
    );

    video3?.addEventListener(
        "play",
        function () {
            // playSong("song-cyberpunk");
            var $this = this;

            (function loop() {
                if (
                    !(video3 as HTMLVideoElement).paused &&
                    !(video3 as HTMLVideoElement).ended
                ) {
                    ctx3?.drawImage(
                        $this as HTMLImageElement,
                        0,
                        0,
                        ($this as HTMLVideoElement).videoWidth,
                        ($this as HTMLVideoElement).videoHeight,
                        0,
                        0,
                        (canvas3 as HTMLCanvasElement)?.width,
                        (canvas3 as HTMLCanvasElement)?.height,
                    );
                    setTimeout(loop, 1000 / 30);
                }
            })();
        },
        0 as any,
    );
</script>
